.vscode/**
.vscode-test/**
.github/**
src/**
.gitignore
.yarnrc
.eslintrc.json
.releaserc.json
vsc-extension-quickstart.md
PUBLISHING.md
CONTRIBUTING.md
GITHUB_SETUP.md
**/tsconfig.json
**/*.map
**/*.ts
**/.vscode-test.*
*.vsix
